<div class="zoomer">
	
	<!-- HOLDER -->
	<div class="holder">
		
		<!-- IMAGE -->
		<div class="image"><img src="<%= @product.images.first.attachment.url(:large)%>" class="target"></div>

	
		<!-- CONSOLE -->
		<div class="console">
				
				<ul class="left">					
					<li>
						<span id="zoomerUp"></span>
						<span id="zoomerDown"></span>
						<span id="zoomerLeft"></span>
						<span id="zoomerRight"></span>		
					</li>
					<li>
						<span id="zoomerIn"></span>
						<span id="zoomerOut"></span>
					</li>
				</ul>
				
				<ul class="right">
					<li>
						<span id="zoomerView"></span>
					</li>
					<li>
						<span id="zoomerReset"></span>
					</li>
				</ul>
			
		</div>	<!-- end console -->
	
	</div>	<!-- end holder -->
	
	
	<!-- THUMBNAILS -->
	<!-- Can be placed on unlimited number of lines - Refer to zoomer config parameters for setting up the size -->
	<div class="thumbs">
		<% @product.images.each do |image| %>
			<img id="<%= image.attachment.url(:large)%>" src="<%= image.attachment.url(:mini)%>">
		<%end%>
	</div>

	
	<!-- LIGHTBOX - PRETTYPHOTO STUFF -->
	<div class="hidden lightbox">
		<% @product.images.each do |image| %>
			<a href="<%= image.attachment.url(:large)%>" rel="prettyPhoto[gallery]"></a>
		<%end%>
	</div>
	
</div>	<!-- end zoomer -->