Hello,
<br>
Thanks for you showing your interest in Product. Your Bid has been placed successfully.
<br>You can check <%= @bid.product.name %> <a href="<%= ActionMailer::Base.default_url_options[:host] %>/products/<%= @bid.product.permalink%>">here</a>.
<br>
Will touch base soon once winner is selected.
<br>
Thanks<br/>
Auction House