<header data-hook>
  <%= render :partial => 'spree/shared/nav_bar' %>

  <div class="header">
  <div class="container">
    <a class="site-logo" href="/"><img src="../../assets/frontend/layout/img/logos/Auction_House.png" alt="Auction House" height="32" width="128" ></a>

    <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

    <!-- BEGIN NAVIGATION -->
    <div class="header-navigation">
  <%= render :partial => 'spree/shared/main_nav_bar' %>
       
    </div>
    <!-- END NAVIGATION -->
  </div>
</div>

</header>

